<div class="row mt-3">
  <div class="col-lg-6 mx-lg-auto">
    <%= link_to 'New Event', new_event_path, class:'btn btn-primary btn-lg mb-5' %>
    <% @events.each do |event| %>
      <div class="card rounded-0 shadow mb-5">
        <div class="card-body">
          <h3><%= event.title %></h3>
          <p><span class="font-weight-bold">Start Time: </span><%= formatted_datetime(event.start_date) %></p>
          <p><span class="font-weight-bold">End Time: </span><%= formatted_datetime(event.end_date) %></p>
          <%= link_to 'Show', event, class: 'btn btn-primary' %>
          <%= link_to 'Edit', edit_event_path(event), class: 'btn btn-primary' %>
          <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>

